<div class="xl:px-[188px] sm:px-[80px] px-10 lg:py-[184px] sm:py-20 py-10 flex flex-col gap-12">
  <div class="flex flex-col gap-2">
    <span class="text-3xl font-semibold">Heading</span>
    <span class="text-2xl">Subheading</span>
  </div>
  <div class="w-full flex flex-wrap gap-16">
    <div class="flex flex-row gap-6 lg:w-[28%] sm:w-[43%] w-full" *ngFor="let o of [1 , 2, 3 , 4, 5, 6]">
      <span class="material-symbols-outlined text-4xl">
        info
      </span>
      <div class="flex flex-col gap-2">
        <span class="text-xl">Title</span>
        <span class="text-[#757575] text-justify text-base">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </span>
      </div>
    </div>
  </div>
</div>
