<div class="xl:px-[188px] lg:px-[100px] md:px-[50px] xs:px-5 px-2 xl:py-[184px] lg:py-[120px] md:py-[40px] xs:py-5 py-2 flex flex-col sm:gap-12 gap-6">
  <div class="flex flex-col gap-2">
    <span class="lg:text-3xl sm:text-xl text-sm font-semibold">Heading</span>
    <span class="lg:text-2xl sm:text-lg text-[10px]">Subheading</span>
  </div>
  <div class="w-full flex flex-wrap lg:gap-16 sm:gap-8 gap-4">
    <div class="flex flex-row sm:gap-6 gap-2 xs:w-[28%] w-[29%]" *ngFor="let o of [1 , 2, 3 , 4, 5, 6]">
      <span class="material-symbols-outlined lg:text-4xl sm:text-xl text-sm">
        info
      </span>
      <div class="flex flex-col sm:gap-2 gap-0.5">
        <span class="lg:text-xl sm:text-base text-xs">Title</span>
        <span class="text-[#757575] text-justify lg:text-base sm:text-xs text-[8px]">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </span>
      </div>
    </div>
  </div>
</div>
