<div class="flex flex-row bg-white md:p-8 xs:p-5 p-3 lg:gap-32 sm:gap-16 xs:gap-8 gap-6">
  <div class="flex flex-col md:gap-6 gap-1.5 md:w-[265px] w-fit">
    <img src="../../../../assets/postexLogo.png" alt="" class="!w-[90px] !h-[24px]">
    <div class="flex flex-row gap-4">
      <img src="../../../../assets/X Logo.png" alt="" class="!w-[24px] !h-[20px]">
      <img src="../../../../assets/Logo Instagram.png" alt="" class="!w-[24px] !h-[20px]">
      <img src="../../../../assets/Logo YouTube.png" alt="" class="!w-[24px] !h-[20px]">
      <img src="../../../../assets/LinkedIn.png" alt="" class="!w-[24px] !h-[20px]">
    </div>
  </div>
  <div class="flex flex-col md:gap-3 gap-1.5">
    <span class="font-bold md:pb-3 pb-1 md:text-base xs:text-xs text-[10px]">Use case</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">UI design</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">UX design</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Wireframing</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Diagramming</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Brainstorming</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Online whiteboard</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Team collaboration</span>
  </div>
  <div class="flex flex-col md:gap-3 gap-1.5">
    <span class="font-bold md:pb-3 pb-1 md:text-base xs:text-xs text-[10px]">Explore</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Design</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Prototyping</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Developement features</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Design systems</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Collaboration features</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Design process</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Figjam</span>
  </div>
  <div class="flex flex-col md:gap-3 gap-1.5">
    <span class="font-bold md:pb-3 pb-1 md:text-base xs:text-xs text-[10px]">Resources</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Blog</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Best paractices</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Colors</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Color wheel</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Support</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Developers</span>
    <span class="md:text-sm xs:text-[8px] text-[6px] hover:cursor-pointer">Resource library</span>
  </div>
</div>
