<div class="pb-36 bg-[#F1F1F1] flex flex-row z-50">
  <div class="w-6/12 pl-[120px]">
    <div class=" py-4 px-0 ml-auto flex flex-col gap-3 items-start">
      <div class="flex flex-row gap-3 w-full">
        <div class="flex flex-col px-3 py-16 w-[32%] gap-3 justify-center items-center bg-white  hover:cursor-pointer" *ngFor="let b of row1Icon">
          <img [src]="'../../../../assets/'+ b?.iconName " [alt]="b?.iconName">
          <span class="text-lg font-semibold">{{ b?.iconText }}</span>
        </div>
      </div>
      <div class="flex flex-row gap-3 w-full">
        <div class="flex flex-col px-3 py-16 w-[32%] gap-3 justify-center items-center bg-white  hover:cursor-pointer" *ngFor="let b of row2Icon">
          <img [src]="'../../../../assets/'+ b?.iconName " [alt]="b?.iconName">
          <span class="text-lg font-semibold">{{ b?.iconText }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-6/12  h-full block">
    <div class="pl-28 pr-[7.5rem] p justify-center pt-24 w-full flex flex-row relative">
      <img src="../../../../assets/package.png" alt="" class="object-cover object-right w-6/12 h-[300px]">
      <div class="flex flex-col gap-6 w-6/12 pl-6 pr-10 pt-12 pb-9 bg-white relative border-l z-50">
        <div class="flex flex-col gap-2">
          <span class="text-2xl font-semibold">Heading</span>
          <span class="text-xl">Subheading</span>
        </div>
        <span class="text-base">Body text for your whole article or post.</span>
        <button class="w-fit px-7 py-3 text-base rounded-lg text-white bg-[#E83223] font-semibold border-2 border-transparent hover:border-[#E83223] hover:text-[#E83223] hover:bg-transparent hover:transition-all">Button</button>
      </div>
      <div class="w-[150px] h-[150px] bg-[#E83223] rounded absolute -bottom-[10%] right-[11%]"></div>
    </div>
  </div>
</div>
