<div class="flex flex-row justify-between items-center bg-[#FFFFFF] xl:px-[120px] sm:px-20 px-5 lg:py-2.5 py-1.5">
  <div class="flex flex-row gap-10 items-center">
    <img src="../../../../assets/postexLogo.png" alt="" class="!w-[90px] !h-[24px]">
    <div class="flex flex-row gap-4">
      <button nz-dropdown [nzDropdownMenu]="menu" class="text-[#1E1E1E] lg:flex hidden justify-center items-center font-semibold text-[14px] hover:text-[#E83223]">
        Shipping
        <span class="material-symbols-outlined">
          arrow_drop_down
        </span>
      </button>
      <button nz-dropdown [nzDropdownMenu]="menu" class="text-[#1E1E1E] lg:flex hidden justify-center items-center font-semibold text-[14px] hover:text-[#E83223]">
        Returns
        <span class="material-symbols-outlined">
          arrow_drop_down
        </span>
      </button>
      <button nz-dropdown [nzDropdownMenu]="menu" class="text-[#1E1E1E] lg:flex hidden justify-center items-center font-semibold text-[14px] hover:text-[#E83223]">
        Postal Services
        <span class="material-symbols-outlined">
          arrow_drop_down
        </span>
      </button>
      <button nz-dropdown [nzDropdownMenu]="menu" class="text-[#1E1E1E] lg:flex hidden justify-center items-center font-semibold text-[14px] hover:text-[#E83223]">
        Solutions
        <span class="material-symbols-outlined">
          arrow_drop_down
        </span>
      </button>
    </div>
  </div>
  <div class="flex flex-row xs:w-[360px] w-[200px] h-9 relative">
    <input type="text" name="" id="" class="w-full bg-[#F5F5F5] pl-3 pr-9 py-1.5 rounded-full border border-[#E3DFDF] search h-full text-base" placeholder="Search">
    <span class="material-symbols-outlined text-base absolute text-[#1E1E1E] right-4 top-1.5">
      search
    </span>
  </div>
</div>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable class="px-5 py-2">
    <li nz-menu-item>Option 1</li>
    <li nz-menu-item>Option 2</li>
    <li nz-menu-item>Option 3</li>
    <li nz-menu-item nzDanger>Danger Option</li>
  </ul>
</nz-dropdown-menu>
