<div class="flex flex-row justify-between items-center bg-[#FFFFFF] xl:px-[120px] px-3 lg:px-20 lg:py-2.5 py-1.5">
  <div class="flex flex-row gap-10 items-center">
    <img src="../../../assets/postexMicro.png" alt="" class="xl:!w-[100px] lg:w-[80px] w-[70px] xl:!h-[36px] lg:h-[30px] h-[25px]">
    <div class="flex flex-row gap-4">
      <button class="text-[#1E1E1E] sm:flex hidden justify-center items-center font-semibold xl:text-base lg:text-xs text-[10px]">
        Shipping
        <span class="material-symbols-outlined">
          arrow_drop_down
        </span>
      </button>
      <button class="text-[#1E1E1E] sm:flex hidden justify-center items-center font-semibold xl:text-base lg:text-xs text-[10px]">
        Returns
        <span class="material-symbols-outlined">
          arrow_drop_down
        </span>
      </button>
      <button class="text-[#1E1E1E] sm:flex hidden justify-center items-center font-semibold xl:text-base lg:text-xs text-[10px]">
        Postal Services
        <span class="material-symbols-outlined">
          arrow_drop_down
        </span>
      </button>
      <button class="text-[#1E1E1E] sm:flex hidden justify-center items-center font-semibold xl:text-base lg:text-xs text-[10px]">
        Solutions
        <span class="material-symbols-outlined">
          arrow_drop_down
        </span>
      </button>
    </div>
  </div>
  <div class="flex flex-row xl:w-[360px] lg:w-[250px] w-[150px] md:h-9 h-full relative">
    <input type="text" name="" id="" class="w-full bg-[#F5F5F5] px-3 lg:py-1.5 py-0.5 rounded-full border border-[#E3DFDF] search md:h-full h-[25px] md:text-base text-[10px]" placeholder="Search">
    <span class="material-symbols-outlined xl:text-base text-sm absolute text-[#1E1E1E] md:right-4 right-2 xl:top-1.5 md:top-2 top-0.5">
      search
    </span>
  </div>
</div>
