<div class="flex flex-col">
  <div class="flex flex-row gap-2.5 justify-between px-[120px] py-2.5 bg-[#F5F5F5]">
    <div class="flex flex-row gap-2">
      <button class="py-1.5 px-4 rounded bg-[#E83223] text-[#F5F5F5] text-xs">Personal</button>
      <div class="py-1 px-2.5 text-xs text-[#1E1E1E] font-semibold">
        Small Buisness
      </div>
      <div class="py-1 px-2.5 text-xs text-[#1E1E1E] font-semibold">
        Commercial
      </div>
    </div>
    <div class="flex flex-row gap-2 items-center">
      <div class="w-[62px] h-6 flex items-center justify-center text-xs font-semibold">
        Support
      </div>
      <div class="w-[62px] h-6 flex items-center justify-center text-xs font-semibold">
        Shop
      </div>
      <div class="w-[90px] h-6 flex items-center justify-center text-xs font-semibold">
        Our Company
      </div>
      <hr class="rotate-90 w-6 border-[#C0C0C0] border-2">
      <div class="w-[90px] h-6 flex flex-row gap-1 items-center justify-center text-xs font-semibold">
        <span class="material-symbols-outlined text-base">
          public
        </span>
        Eng
      </div>
      <button class="rounded text-xs flex flex-row gap-1 justify-center items-center w-[72px] h-6 font-semibold border border-[#1E1E1E]">
        Signin
      </button>
    </div>
  </div>
  <div class="flex flex-row justify-between bg-[#FFFFFF] px-[120px] py-2.5">
    <div class="flex flex-row gap-10">
      <img src="../../../assets/postexMicro.png" alt="" class="!w-[100px] !h-[36px]">
      <div class="flex flex-row gap-4">
        <button class="text-[#1E1E1E] flex justify-center items-center font-semibold">
          Shipping
          <span class="material-symbols-outlined">
            arrow_drop_down
          </span>
        </button>
        <button class="text-[#1E1E1E] flex justify-center items-center font-semibold">
          Returns
          <span class="material-symbols-outlined">
            arrow_drop_down
          </span>
        </button>
        <button class="text-[#1E1E1E] flex justify-center items-center font-semibold">
          Postal Services
          <span class="material-symbols-outlined">
            arrow_drop_down
          </span>
        </button>
        <button class="text-[#1E1E1E] flex justify-center items-center font-semibold">
          Solutions
          <span class="material-symbols-outlined">
            arrow_drop_down
          </span>
        </button>
      </div>
    </div>
    <div class="flex flex-row w-[360px] h-9 relative">
      <input type="text" name="" id="" class="w-full h-full bg-[#F5F5F5] px-3 py-1.5 rounded-full border border-[#E3DFDF] search" placeholder="Search">
      <span class="material-symbols-outlined text base absolute text-[#1E1E1E] right-4 top-1.5">
        search
      </span>
    </div>
  </div>
  <div class=" bg-[#F1F1F1]">
    <div class="flex flex-row  w-full h-full">
      <div class="w-6/12 relative h-[600px] bg-[#E83223]">
        <div class="py-[100px] px-[120px] flex flex-col gap-6 text-white">
          <div class="flex flex-col gap-2">
            <span class="text-3xl font-semibold">Heading</span>
            <span class="text-2xl">Subheading</span>
          </div>
          <span>Body text for your whole article or post. We’ll put in some lorem ipsum to show how a filled-out page might look:</span>
          <button class="w-fit px-8 py-2.5 rounded bg-white text-[#E83223] font-bold">Button</button>
        </div>
        <div class="w-10/12 h-[300px] bg-white absolute right-0 -bottom-[9.4rem] flex flex-col px-11 justify-center gap-2">
          <span class="w-full font-bold text-base">Track Your Delivery</span>
          <div class="flex flex-row">
            <input type="text" name="" id="" class="w-[420px] h-[44px] bg-[#F5F5F5] border border-[#E3DFDF] rounded-l-full pl-7 pr-2" placeholder="Enter tracking number">
            <button class="w-[90px] h-[44px] bg-[#E83223] rounded-r-full text-base font-semibold text-white">Track</button>
          </div>
        </div>
      </div>
      <img src="../../../assets/hero1.png" alt="" class="w-6/12 h-[750px]">
    </div>
  </div>
  <div class="h-[500px] bg-[#F1F1F1] flex flex-row z-50">
    <div class="w-6/12">
      <div class="w-10/12 py-4 ml-auto flex flex-wrap gap-3">
        <div class="flex flex-col h-[170px] w-[32%] gap-3 justify-center items-center bg-white">
          <span class="material-symbols-outlined text-4xl text-[#E83223]">
            qr_code_scanner
          </span>
          <span class="text-lg font-semibold">Find Postal Code</span>
        </div>
        <div class="flex flex-col h-[170px] w-[32%] gap-3 justify-center items-center bg-white">
          <span class="material-symbols-outlined text-4xl text-[#E83223]">
            calculate
          </span>
          <span class="text-lg font-semibold">Find Rate</span>
        </div>
        <div class="flex flex-col h-[170px] w-[32%] gap-3 justify-center items-center bg-white">
          <span class="material-symbols-outlined text-4xl text-[#E83223]">
            location_on
          </span>
          <span class="text-lg font-semibold">Locate Us</span>
        </div>
        <div class="flex flex-col h-[170px] w-[32%] gap-3 justify-center items-center bg-white">
          <span class="material-symbols-outlined text-4xl text-[#E83223]">
            calendar_month
          </span>
          <span class="text-lg font-semibold">Schedule Pickup</span>
        </div>
        <div class="flex flex-col h-[170px] w-[32%] gap-3 justify-center items-center bg-white">
          <span class="material-symbols-outlined text-4xl text-[#E83223]">
            calendar_today
          </span>
          <span class="text-lg font-semibold">E-com Login</span>
        </div>
        <div class="flex flex-col h-[170px] w-[32%] gap-3 justify-center items-center bg-white">
          <span class="material-symbols-outlined text-4xl text-[#E83223]">
            support_agent
          </span>
          <span class="text-lg font-semibold">Contact Us</span>
        </div>
      </div>
    </div>
    <div class="w-6/12  h-full">
      <div class="pt-16 px-28 w-[700px] flex flex-row">
        <img src="../../../assets/packages.webp" alt="" class="w-6/12 h-[250px]">
        <div class="flex flex-col gap-6 w-6/12 pl-6 pr-12 pt-4 bg-white relative border-l">
          <div class="flex flex-col gap-2">
            <span class="text-3xl font-semibold">Heading</span>
            <span class="text-2xl">Subheading</span>
          </div>
          <span>Body text for your whole article or post.</span>
          <button class="w-fit px-8 py-2.5 rounded text-white bg-[#E83223] font-bold">Button</button>
          <div class="w-[170px] h-[170px] bg-[#E83223] rounded absolute -right-12 -bottom-12 -z-10"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-[188px] py-[184px] flex flex-col gap-12">
    <div class="flex flex-col gap-2">
      <span class="text-3xl font-semibold">Heading</span>
      <span class="text-2xl">Subheading</span>
    </div>
    <div class="w-full flex flex-wrap gap-16">
      <div class="flex flex-row gap-6 w-[28%]">
        <span class="material-symbols-outlined text-4xl">
          info
        </span>
        <div class="flex flex-col gap-2">
          <span class="text-xl">Title</span>
          <span class="text-[#757575] text-justify">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </span>
        </div>
      </div>
      <div class="flex flex-row gap-6 w-[28%]">
        <span class="material-symbols-outlined text-4xl">
          info
        </span>
        <div class="flex flex-col gap-2">
          <span class="text-xl">Title</span>
          <span class="text-[#757575] text-justify">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </span>
        </div>
      </div>
      <div class="flex flex-row gap-6 w-[28%]">
        <span class="material-symbols-outlined text-4xl">
          info
        </span>
        <div class="flex flex-col gap-2">
          <span class="text-xl">Title</span>
          <span class="text-[#757575] text-justify">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </span>
        </div>
      </div>
      <div class="flex flex-row gap-6 w-[28%]">
        <span class="material-symbols-outlined text-4xl">
          info
        </span>
        <div class="flex flex-col gap-2">
          <span class="text-xl">Title</span>
          <span class="text-[#757575] text-justify">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </span>
        </div>
      </div>
      <div class="flex flex-row gap-6 w-[28%]">
        <span class="material-symbols-outlined text-4xl">
          info
        </span>
        <div class="flex flex-col gap-2">
          <span class="text-xl">Title</span>
          <span class="text-[#757575] text-justify">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </span>
        </div>
      </div>
      <div class="flex flex-row gap-6 w-[28%]">
        <span class="material-symbols-outlined text-4xl">
          info
        </span>
        <div class="flex flex-col gap-2">
          <span class="text-xl">Title</span>
          <span class="text-[#757575] text-justify">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </span>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-[#F2F2F2] px-[120px] py-[75px] flex flex-col gap-4">
    <div class="bg-white p-16 flex flex-row gap-12">
      <div class="flex flex-col gap-6 w-[60%]">
        <div class="flex flex-col gap-2">
          <span class="text-3xl font-semibold">Heading</span>
          <span class="text-2xl">Subheading</span>
        </div>
        <span class="text-[#1E1E1E]">Body text for your whole article or post. We’ll put in some lorem ipsum to show how a filled-out page might look:</span>
        <span class="text-[#1E1E1E] text-justify">Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite perfect nostrud nisi intricate Content. Qui  international first-class nulla ut. Punctual adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming Scandinavian impeccable aute quality of life soft power pariatur Melbourne occaecat discerning. Qui wardrobe aliquip, et Porter destination Toto remarkable officia Helsinki excepteur Basset hound. Zürich sleepy perfect consectetur.</span>
      </div>
      <img src="../../../assets/defaultImage.png" alt="" class="w-[40%]">
    </div>
    <div class="bg-white p-16 flex flex-row gap-12">
      <div class="flex flex-col gap-6 w-[60%]">
        <div class="flex flex-col gap-2">
          <span class="text-3xl font-semibold">Heading</span>
          <span class="text-2xl">Subheading</span>
        </div>
        <span class="text-[#1E1E1E]">Body text for your whole article or post. We’ll put in some lorem ipsum to show how a filled-out page might look:</span>
        <span class="text-[#1E1E1E] text-justify">Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite perfect nostrud nisi intricate Content. Qui  international first-class nulla ut. Punctual adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming Scandinavian impeccable aute quality of life soft power pariatur Melbourne occaecat discerning. Qui wardrobe aliquip, et Porter destination Toto remarkable officia Helsinki excepteur Basset hound. Zürich sleepy perfect consectetur.</span>
      </div>
      <img src="../../../assets/defaultImage.png" alt="" class="w-[40%]">
    </div>
  </div>
  <div class="bg-white p-8 flex flex-row gap-32">
    <div class="flex flex-col gap-6 w-[265px]">
      <img src="../../../assets/postexMicro.png" alt="" class="w-[120px] h-[45px]">
      <img src="../../../assets/socialMedia.png" alt="" class="w-[145px] h-[30px]">
    </div>
    <div class="flex flex-col gap-3">
      <span class="font-bold pb-3">Use case</span>
      <span class="text-sm">UI design</span>
      <span class="text-sm">UX design</span>
      <span class="text-sm">Wireframing</span>
      <span class="text-sm">Diagramming</span>
      <span class="text-sm">Brainstorming</span>
      <span class="text-sm">Online whiteboard</span>
      <span class="text-sm">Team collaboration</span>
    </div>
    <div class="flex flex-col gap-3">
      <span class="font-bold pb-3">Explore</span>
      <span class="text-sm">Design</span>
      <span class="text-sm">Prototyping</span>
      <span class="text-sm">Developement features</span>
      <span class="text-sm">Design systems</span>
      <span class="text-sm">Collaboration features</span>
      <span class="text-sm">Design process</span>
      <span class="text-sm">Figjam</span>
    </div>
    <div class="flex flex-col gap-3">
      <span class="font-bold pb-3">Resources</span>
      <span class="text-sm">Blog</span>
      <span class="text-sm">Best paractices</span>
      <span class="text-sm">Colors</span>
      <span class="text-sm">Color wheel</span>
      <span class="text-sm">Support</span>
      <span class="text-sm">Developers</span>
      <span class="text-sm">Resource library</span>
    </div>
  </div>
</div>

