<div class="flex flex-col">
  <div class="flex flex-row gap-2.5 justify-between xl:px-[120px] px-3 lg:px-20 py-2.5 bg-[#F5F5F5]">
    <div class="flex flex-row lg:gap-2 gap-0.5">
      <button class="lg:py-1.5 py-0.5 lg:px-4 px-2 rounded bg-[#E83223] text-[#F5F5F5] lg:text-xs text-[10px]">Personal</button>
      <div class="py-1 px-2.5 xl:text-xs lg:text-xs text-[10px] text-[#1E1E1E] font-semibold">
        Small Buisness
      </div>
      <div class="py-1 px-2.5 xl:text-xs lg:text-xs text-[10px] text-[#1E1E1E] font-semibold">
        Commercial
      </div>
    </div>
    <div class="flex flex-row lg:gap-2 gap-0.5 items-center">
      <div class="lg:w-[62px] w-[40px] h-6 flex items-center justify-center xl:text-xs text-[10px] font-semibold">
        Support
      </div>
      <div class="lg:w-[62px] w-[40px] h-6 flex items-center justify-center xl:text-xs text-[10px] font-semibold">
        Shop
      </div>
      <div class="lg:w-[90px] w-[70px] h-6 flex items-center justify-center xl:text-xs text-[10px] font-semibold">
        Our Company
      </div>
      <hr class="rotate-90 w-6 border-[#C0C0C0] border-2">
      <div class="lg:w-[90px] w-[70px] h-6 flex flex-row gap-1 items-center justify-center xl:text-xs text-xs font-semibold">
        <span class="material-symbols-outlined text-base">
          public
        </span>
        Eng
      </div>
      <button class="rounded xl:text-xs text-xs flex flex-row gap-1 justify-center items-center lg:w-[72px] w-[50px] h-6 font-semibold border border-[#1E1E1E]">
        Signin
      </button>
    </div>
  </div>
  <div class="flex flex-row justify-between items-center bg-[#FFFFFF] xl:px-[120px] px-3 lg:px-20 lg:py-2.5 py-1.5">
    <div class="flex flex-row gap-10 items-center">
      <img src="../../../assets/postexMicro.png" alt="" class="xl:!w-[100px] lg:w-[80px] w-[70px] xl:!h-[36px] lg:h-[30px] h-[25px]">
      <div class="flex flex-row gap-4">
        <button class="text-[#1E1E1E] flex justify-center items-center font-semibold xl:text-base lg:text-xs text-[10px]">
          Shipping
          <span class="material-symbols-outlined">
            arrow_drop_down
          </span>
        </button>
        <button class="text-[#1E1E1E] flex justify-center items-center font-semibold xl:text-base lg:text-xs text-[10px]">
          Returns
          <span class="material-symbols-outlined">
            arrow_drop_down
          </span>
        </button>
        <button class="text-[#1E1E1E] flex justify-center items-center font-semibold xl:text-base lg:text-xs text-[10px]">
          Postal Services
          <span class="material-symbols-outlined">
            arrow_drop_down
          </span>
        </button>
        <button class="text-[#1E1E1E] flex justify-center items-center font-semibold xl:text-base lg:text-xs text-[10px]">
          Solutions
          <span class="material-symbols-outlined">
            arrow_drop_down
          </span>
        </button>
      </div>
    </div>
    <div class="flex flex-row xl:w-[360px] lg:w-[250px] w-[150px] md:h-9 h-full relative">
      <input type="text" name="" id="" class="w-full bg-[#F5F5F5] px-3 lg:py-1.5 py-0.5 rounded-full border border-[#E3DFDF] search md:h-full h-[25px] md:text-base text-[10px]" placeholder="Search">
      <span class="material-symbols-outlined xl:text-base text-sm absolute text-[#1E1E1E] md:right-4 right-2 xl:top-1.5 md:top-2 top-0.5">
        search
      </span>
    </div>
  </div>
  <div class=" bg-[#F1F1F1]">
    <div class="flex flex-row  w-full h-full">
      <div class="md:w-6/12 w-full relative flex flex-row xl:h-[600px] h-full bg-[#E83223] md:pr-0 pr-8 md:py-0 py-6 md:items-start items-center">
        <div class="md:w-full w-7/12 xl:py-[100px] md:pt-14 md:pb-24 xl:px-[120px] md:px-16 px-8 flex flex-col xl:gap-6 gap-4 text-white">
          <div class="flex flex-col gap-2">
            <span class="xl:text-3xl md:text-xl text-lg font-semibold">Heading</span>
            <span class="xl:text-2xl md:text-lg text-sm">Subheading</span>
          </div>
          <span class="md:text-base text-xs">Body text for your whole article or post. We’ll put in some lorem ipsum to show how a filled-out page might look:</span>
          <button class="w-fit xl:px-8 md:px-6 px-3 xl:py-2.5 md:py-2 py-1 md:text-base text-xs rounded bg-white text-[#E83223] font-bold">Button</button>
        </div>
        <div class="md:w-10/12 w-5/12 xl:h-[300px] md:h-[150px] h-[120px] bg-white md:absolute relative right-0 xl:-bottom-[9.4rem] lg:-bottom-[7.3rem] md:-bottom-[5.65rem] flex flex-col md:px-11 px-6 justify-center gap-2">
          <span class="w-full font-bold xl:text-base md:text-xs text-[10px]">Track Your Delivery</span>
          <div class="flex flex-row">
            <input type="text" name="" id="" class="xl:w-[420px] md:w-[220px] w-[80%] xl:h-[44px] md:h-[36px] h-[25px] bg-[#F5F5F5] border border-[#E3DFDF] rounded-l-full md:pl-7 pl-3 pr-2 md:text-base text-xs" placeholder="Enter tracking number">
            <button class="xl:w-[90px] w-[20%] xl:h-[44px] md:h-[36px] h-[25px] bg-[#E83223] rounded-r-full xl:text-base md:text-xs text-[10px] font-semibold text-white">Track</button>
          </div>
        </div>
      </div>
      <img src="../../../assets/hero1.png" alt="" class="w-6/12 xl:h-[750px] md:h-[450px] h-[317px] md:flex hidden">
    </div>
  </div>
  <div class="xl:h-[500px] LG:h-[330px] H-[200px] bg-[#F1F1F1] flex flex-row z-50">
    <div class="w-6/12">
      <div class="w-10/12 py-4 ml-auto flex flex-col gap-3">
        <div class="flex flex-row gap-3">
          <div class="flex flex-col xl:h-[170px] lg:h-[120px] h-[80px] w-[32%] gap-3 justify-center items-center bg-white" *ngFor="let b of row1Icon">
            <span class="material-symbols-outlined xl:text-4xl lg:text-2xl text-base text-[#E83223]">
              {{ b?.iconName }}
            </span>
            <span class="xl:text-lg lg:text-sm text-[8px] font-semibold">{{ b?.iconText }}</span>
          </div>
        </div>
        <div class="flex flex-row gap-3">
          <div class="flex flex-col xl:h-[170px] lg:h-[120px] h-[80px] w-[32%] gap-3 justify-center items-center bg-white" *ngFor="let b of row2Icon">
            <span class="material-symbols-outlined xl:text-4xl lg:text-2xl text-base text-[#E83223]">
              {{ b?.iconName }}
            </span>
            <span class="xl:text-lg lg:text-sm text-[8px] font-semibold">{{ b?.iconText }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-6/12  h-full">
      <div class="2xl:pt-16 2xl:px-28 px-10 justify-center pt-8 w-full flex flex-row">
        <img src="../../../assets/packages.webp" alt="" class="2xl:w-6/12 lg:w-5/12 w-[4/12] xl:h-[250px] lg:h-[200px] h-[100px]">
        <div class="flex flex-col xl:gap-6 lg:gap-3 gap-1 2xl:w-6/12 w-5/12 lg:pl-6 pl-3 lg:pr-12 pr-3 2xl:pt-4 lg:pt-2 pt-0.5 bg-white relative border-l">
          <div class="flex flex-col lg:gap-2 gap-0.5">
            <span class="xl:text-3xl lg:text-xl text-base font-semibold">Heading</span>
            <span class="xl:text-2xl lg:text-lg text-xs">Subheading</span>
          </div>
          <span class="xl:text-base lg:text-xs text-[8px]">Body text for your whole article or post.</span>
          <button class="w-fit xl:px-8 lg:px-4 px-2 xl:py-2.5 lg:py-1.5 py-0.5 xl:text-base lg:text-xs text-[8px] rounded text-white bg-[#E83223] font-bold">Button</button>
          <div class="2xl:w-[170px] 2xl:h-[170px] xl:w-[120px] xl:h-[120px] lg:w-[80px] w-[50px] lg:h-[80px] h-[50px] bg-[#E83223] rounded absolute xl:-right-12 lg:-right-7 -right-4 xl:-bottom-12 lg:-bottom-7 -bottom-4 -z-10"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="xl:px-[188px] lg:px-[100px] px-[50px] xl:py-[184px] lg:py-[120px] py-[40px] flex flex-col gap-12">
    <div class="flex flex-col gap-2">
      <span class="lg:text-3xl text-xl font-semibold">Heading</span>
      <span class="lg:text-2xl text-lg">Subheading</span>
    </div>
    <div class="w-full flex flex-wrap lg:gap-16 gap-8">
      <div class="flex flex-row gap-6 w-[28%]" *ngFor="let o of [1 , 2, 3 , 4, 5, 6]">
        <span class="material-symbols-outlined lg:text-4xl text-xl">
          info
        </span>
        <div class="flex flex-col gap-2">
          <span class="lg:text-xl text-base">Title</span>
          <span class="text-[#757575] text-justify lg:text-base text-xs">Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </span>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-[#F2F2F2] xl:px-[120px] md:px-[80px] px-[30px] xl:py-[75px] md:py-[40px] py-[20px] flex flex-col gap-4">
    <div class="bg-white p-16 flex flex-row gap-12 items-center" *ngFor="let y of [0 , 0]">
      <div class="flex flex-col gap-6 w-[60%]">
        <div class="flex flex-col gap-2">
          <span class="xl:text-3xl text-xl font-semibold">Heading</span>
          <span class="xl:text-2xl text-base">Subheading</span>
        </div>
        <span class="text-[#1E1E1E] xl:text-base text-xs">Body text for your whole article or post. We’ll put in some lorem ipsum to show how a filled-out page might look:</span>
        <span class="text-[#1E1E1E] text-justify xl:text-base text-[8px]">Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite perfect nostrud nisi intricate Content. Qui  international first-class nulla ut. Punctual adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming Scandinavian impeccable aute quality of life soft power pariatur Melbourne occaecat discerning. Qui wardrobe aliquip, et Porter destination Toto remarkable officia Helsinki excepteur Basset hound. Zürich sleepy perfect consectetur.</span>
      </div>
      <img src="../../../assets/defaultImage.png" alt="" class="w-[40%] xl:h-full h-[200px]">
    </div>
  </div>
  <div class="bg-white p-8 flex flex-row gap-32">
    <div class="flex flex-col gap-6 w-[265px]">
      <img src="../../../assets/postexMicro.png" alt="" class="w-[120px] h-[45px]">
      <img src="../../../assets/socialMedia.png" alt="" class="w-[145px] h-[30px]">
    </div>
    <div class="flex flex-col gap-3">
      <span class="font-bold pb-3">Use case</span>
      <span class="text-sm">UI design</span>
      <span class="text-sm">UX design</span>
      <span class="text-sm">Wireframing</span>
      <span class="text-sm">Diagramming</span>
      <span class="text-sm">Brainstorming</span>
      <span class="text-sm">Online whiteboard</span>
      <span class="text-sm">Team collaboration</span>
    </div>
    <div class="flex flex-col gap-3">
      <span class="font-bold pb-3">Explore</span>
      <span class="text-sm">Design</span>
      <span class="text-sm">Prototyping</span>
      <span class="text-sm">Developement features</span>
      <span class="text-sm">Design systems</span>
      <span class="text-sm">Collaboration features</span>
      <span class="text-sm">Design process</span>
      <span class="text-sm">Figjam</span>
    </div>
    <div class="flex flex-col gap-3">
      <span class="font-bold pb-3">Resources</span>
      <span class="text-sm">Blog</span>
      <span class="text-sm">Best paractices</span>
      <span class="text-sm">Colors</span>
      <span class="text-sm">Color wheel</span>
      <span class="text-sm">Support</span>
      <span class="text-sm">Developers</span>
      <span class="text-sm">Resource library</span>
    </div>
  </div>
</div>

