<div class=" bg-[#F1F1F1]">
  <div class="flex flex-row  w-full h-full">
    <div class="lg:w-6/12 w-full relative flex lg:flex-row flex-col lg:py-0 sm:py-20 py-10 h-[120%] lg:px-0 sm:px-20 px-5 lg:gap-0 gap-8 bg-[#E83223] lg:items-start items-center">
      <div class="w-full lg:pt-24 lg:pb-72 xl:px-[120px] lg:px-20 flex flex-col gap-6 text-white lg:items-start items-center">
        <div class="flex flex-col gap-2 ">
          <span class="text-2xl font-semibold">Heading</span>
          <span class="text-xl">Subheading</span>
        </div>
        <span class="text-base lg:text-start text-center">Body text for your whole article or post. We’ll put in some lorem ipsum to show how a filled-out page might look:</span>
        <button class="w-fit px-7 py-3 text-base rounded-lg bg-white text-[#E83223] font-semibold hover:bg-[#E83223] hover:text-white hover:transition-all border-2 border-transparent hover:border-white">Button</button>
      </div>
      <div class="calcWidthTrack bg-white lg:absolute relative right-0 -bottom-[18%] bottomSettlement flex flex-col xs:px-11 px-5 py-20 justify-start gap-2">
        <span class="w-full font-semibold text-base">Track Your Delivery</span>
        <div class="flex flex-row">
          <input type="text" name="" id="" class="xl:w-8/12 w-9/12 bg-[#F5F5F5] border border-[#E3DFDF] rounded-l-full xs:pl-7 pl-3 text-base " placeholder="Enter tracking number">
          <button class="xl:w-2/12 w-3/12 justify-center flex py-3 bg-[#E83223] rounded-r-full text-base font-bold text-white hover:bg-[#e833239a]">Track</button>
        </div>
      </div>
    </div>
    <img src="../../../assets/hero1.png" alt="" class="w-6/12 h-[703px] object-cover object-left lg:flex hidden">
  </div>
</div>
