<div class=" bg-[#F1F1F1]">
  <div class="flex flex-row  w-full h-full">
    <div class="md:w-6/12 w-full relative flex sm:flex-row flex-col sm:gap-0 gap-5 xl:h-[600px] h-full bg-[#E83223] md:pr-0 sm:pr-8 md:py-0 py-6 p-8 md:items-start items-center">
      <div class="md:w-full sm:w-7/12 w-full xl:py-[100px] md:pt-14 md:pb-24 xl:px-[120px] md:px-16 sm:px-8 flex flex-col xl:gap-6 gap-4 text-white">
        <div class="flex flex-col gap-2 sm:w-fit w-full sm:items-start items-center">
          <span class="xl:text-3xl md:text-xl text-lg font-semibold">Heading</span>
          <span class="xl:text-2xl md:text-lg text-sm">Subheading</span>
        </div>
        <span class="md:text-base text-xs sm:text-start text-center">Body text for your whole article or post. We’ll put in some lorem ipsum to show how a filled-out page might look:</span>
        <button class="w-fit xl:px-8 md:px-6 px-3 xl:py-2.5 md:py-2 py-1 sm:mx-0 mx-auto md:text-base text-xs rounded bg-white text-[#E83223] font-bold">Button</button>
      </div>
      <div class="md:w-10/12 sm:w-5/12 w-full xl:h-[300px] md:h-[150px] h-[120px] bg-white md:absolute relative right-0 xl:-bottom-[9.4rem] lg:-bottom-[7.14rem] md:-bottom-[4.15rem] flex flex-col md:px-11 px-6 justify-center gap-2">
        <span class="w-full font-bold xl:text-base md:text-xs text-[10px]">Track Your Delivery</span>
        <div class="flex flex-row">
          <input type="text" name="" id="" class="xl:w-[420px] md:w-[220px] w-[80%] xl:h-[44px] md:h-[36px] h-[25px] bg-[#F5F5F5] border border-[#E3DFDF] rounded-l-full md:pl-7 pl-3 pr-2 md:text-base text-xs" placeholder="Enter tracking number">
          <button class="xl:w-[90px] w-[20%] xl:h-[44px] md:h-[36px] h-[25px] bg-[#E83223] rounded-r-full xl:text-base md:text-xs text-[10px] font-semibold text-white">Track</button>
        </div>
      </div>
    </div>
    <img src="../../../assets/hero1.png" alt="" class="w-6/12 xl:h-[750px] md:h-[450px] h-[317px] md:flex hidden">
  </div>
</div>
